{% extends 'home.html' %}

{% block h1 %}{{question.question}}{% endblock %}
        
{% block content %}
    {% for choice in question.choices %}
        <a class="btn btn-primary" href='/questions/{{question_number}}'>{{choice}}</a>
    {% endfor %}
{% endblock content%}

{% block button %}
{% if question.allow_text %}
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
{% endif %}
{% endblock button%}

    
